/* On ajoute un halo de lumière coloré derrière chaque option au survol */

/* 1ère carte (Convertisseur PDF - Icône Rouge) */
article .card:nth-of-type(1):hover {
  border-color: #FF3366;
  box-shadow: 0 14px 0px #08090f, 0 20px 40px rgba(255, 51, 102, 0.25);
}

/* 2ème carte (Compresseur d'images - Icône Bleue) */
article .card:nth-of-type(2):hover {
  border-color: #38BDF8;
  box-shadow: 0 14px 0px #08090f, 0 20px 40px rgba(56, 189, 248, 0.25);
}

/* 3ème carte (Générateur QR Code - Icône Violette) */
article .card:nth-of-type(3):hover {
  border-color: #A855F7;
  box-shadow: 0 14px 0px #08090f, 0 20px 40px rgba(168, 85, 247, 0.25);
}

/* 4ème carte (Calcul de pourcentage - Icône Jaune) */
article .card:nth-of-type(4):hover {
  border-color: #FBBF24;
  box-shadow: 0 14px 0px #08090f, 0 20px 40px rgba(251, 191, 36, 0.25);
}

/* 5ème carte (Convertisseur de devises - Icône Verte) */
article .card:nth-of-type(5):hover {
  border-color: #34D399;
  box-shadow: 0 14px 0px #08090f, 0 20px 40px rgba(52, 211, 153, 0.25);
}

/* 6ème carte (Générateur de mots de passe - Icône Rose) */
article .card:nth-of-type(6):hover {
  border-color: #F472B6;
  box-shadow: 0 14px 0px #08090f, 0 20px 40px rgba(244, 114, 182, 0.25);
}

/* 7ème carte (Traducteur - Icône Turquoise) */
article .card:nth-of-type(7):hover {
  border-color: #2DD4BF;
  box-shadow: 0 14px 0px #08090f, 0 20px 40px rgba(45, 212, 191, 0.25);
}
